.hero-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 50px;
}

.hero-detail h2 {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 2em;
    font-family: "American Captain";
    color: #363636;
}

.container-img-hero-detail {
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: auto;
    padding: 20px;
}

.container-img-hero-detail img {
    width: 100%;
    border-radius: 10px;
}

.container-img-hero-detail h3 {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #363636;    
    line-height: 1.4;
}

@media(max-width: 425px) {  
    .container-img-hero-detail h3 {
        font-size: 1em;
    }

}