main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2 {
    font-family: 33px;
    font-family: "American Captain";
    align-items: center;
    margin-top: 50px;
}