@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

@font-face {
    font-family: "Marvel";
    src: url('./assets/fonts/MarvelRegular-Dj83.ttf');
}

@font-face {
    font-family: "American Captain";
    src: url('./assets/fonts/AmericanCaptain-MdEY.otf');
}

@font-face {
    font-family: "Earths";
    src: url('./assets/fonts/EarthsMightiest-A3wg.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;  
  min-width: 206px;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}